<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<title>とらぷら|お問い合わせ(自治体向け)</title>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
<link rel="stylesheet" href={% static 'css/style.css' %}>


</head>
<body> 
 
 
   <!--<h1><img src="images/torapura.png" alt="とらぷら" width="300px"></h1>-->
   <div class="header">
    <nav class="navbar">
      <h2 class="logo">TravelPlanner</h2>
      <ul class="menu">
        <li><a href="{% url 'torapuraapp:index' %}">ホーム</a></li>
        <li><a href="{% url 'torapuraapp:gallery' %}">ギャラリー</a></li>
        <li><a href="{% url 'torapuraapp:plan' %}">プラン作成</a></li>

        <li class="menu-item">
          <a href="{% url 'torapuraapp:contact' %}">お問い合わせ</a>
          <ul class="drop-menu-list">
             <li class="drop-menu-item">
                <a href="{% url 'torapuraapp:contact_company' %}">企業向け</a>
             </li>
             <li class="drop-menu-item">
                <a href="{% url 'torauraapp:contact_user' %}">利用者向け</a>
             </li>
          </ul>
        </li>
       
      </ul>
    </nav>
   </div>

  <nav>
    <ol class="breadcrumb">
      <li><a href="{% url 'torapuraapp:index' %}">ホーム</a></li>
      <li><a href="{% url 'torapuraapp:contact' %}">お問い合わせ</a></li>
      <li>企業向け</li>
    </ol>
  </nav>

  <main>
    <h2>
      お問い合わせの送信が完了しました。
    </h2>
  </main>

  <input type="button" onclick="location.href={% url 'toraouraapp:index' %}" value="ホームに戻る">

  

  <!--フッター-->
  <footer>
    <div id="footer_nav">
    <ul>
      <li><a href="{% url 'torapuraapp:index' %}">HOME</a></li>
      <li><a href="{% url 'torapuraapp:gallery' %}">ギャラリー</a></li>
      <li><a href="{% url 'torapuraapp:contact' %}">お問い合わせ</a></li>
      <li><a href="{% url 'torapuraapp:plan' %}">プラン作成</a></li>
        
    </ul>
    </div>
    <small>&copy;  2024 とらぷら.</small>
  </footer>
 <!--/フッター-->

</body>
</html>
