{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>お問い合わせ（企業向け）</title>
    <link rel="stylesheet" href={% static 'css/style.css' %} />

</head>
<body> 
 
 
   <!--<h1><img src="images/torapura.png" alt="とらぷら" width="300px"></h1>-->
   <div class="header">
    <nav class="navbar">
      <h2 class="logo">TravelPlanner</h2>
      <ul class="menu">
        <li><a href="{% url 'torapuraapp:index' %}">ホーム</a></li>
        <li><a href="{% url 'torapuraapp:gallery' %}">ギャラリー</a></li>
        <li><a href="{% url 'torapuraapp:plan' %}">プラン作成</a></li>

        <li class="menu-item">
          <a href="{% url 'torapuraapp:contact' %}">お問い合わせ</a>
          <ul class="drop-menu-list">
             <li class="drop-menu-item">
                <li class="cuurent"><a href="{% url 'torapuraapp:contact_company' %}">企業向け</a>
             </li>
             <li class="drop-menu-item">
                <a href="{% url 'torapuraapp:contact_user' %}">利用者向け</a>
             </li>
          </ul>
        </li>
       
      </ul>
    </nav>
   </div>

  <nav>
    <ol class="breadcrumb">
      <li><a href="{% url 'torapuraapp:index' %}">ホーム</a></li>
      <li><a href="{% url 'torapuraapp:contact' %}">お問い合わせ</a></li>
      <li>企業向け</li>
    </ol>
  </nav>

<main>
  <h2>お問い合わせフォーム(企業向け)</h2>

  <form action="">
    <input type="email" placeholder="メールアドレス" name="company_email" required>
    <input type="text" placeholder="企業名" name="company_name" required>
    <input type="text" placeholder="件名" name="title" required>
    <textarea placeholder="本文" name="message" required></textarea>
    <input type="file" placeholder="写真を選択"  name="image" required>
    <input type="submit" value="送信">
</main>
    


  <!--フッター-->
  <footer>
    <div id="footer_nav">
    <ul>
      <li><a href="{% url 'torapuraapp:index' %}">HOME</a></li>
      <li><a href="{% url 'torapuraapp:gallery' %}">ギャラリー</a></li>
      <li><a href="{% url 'torapuraapp:contact' %}">お問い合わせ</a></li>
      <li><a href="{% url 'torapuraapp:plan' %}">プラン作成</a></li>
        
    </ul>
    </div>
    <small>&copy;  2024 とらぷら.</small>
  </footer>
 <!--/フッター-->

</body>
</html>
