<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<title>とらぷら|お問い合わせ(自治体向け)</title>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
<link rel="stylesheet" href="style.css">


</head>
<body> 
 
 
   <!--<h1><img src="images/torapura.png" alt="とらぷら" width="300px"></h1>-->
   <div class="header">
    <nav class="navbar">
      <h1 class="logo">TravelPlanner</h1>
      <ul class="menu">
        <li><a href="index.html">ホーム</a></li>
        <li><a href="gallery.html">ギャラリー</a></li>
        <li><a href="plan.html">プラン作成</a></li>

        <li class="menu-item">
          <a href="contact.html">お問い合わせ</a>
          <ul class="drop-menu-list">
             <li class="drop-menu-item">
                <li class="cuurent"><a href="contact_company.html">企業向け</a>
             </li>
             <li class="drop-menu-item">
                <a href="contact_user.html">利用者向け</a>
             </li>
          </ul>
        </li>
       
      </ul>
    </nav>
   </div>

  <nav>
    <ol class="breadcrumb">
      <li><a href="index.html">ホーム</a></li>
      <li><a></a>お問い合わせ</a></li>
    </ol>
  </nav>

<main>
  <div>
    <li><a href="contact_company.html">お問い合わせ＜企業向け＞</a></li>
    <li><a href="contact_user.html">お問い合わせ＜利用者向け＞</a></li>
  </div>




  <!--フッター-->
  <footer>
    <div id="footer_nav">
    <ul>
        <li><a href="index.html">HOME</a></li>
        <li><a href="gallery.html">ギャラリー</a></li>
        <li><a href="contact.html">お問い合わせ</a></li>
        <li><a href="plan.html">プラン作成</a></li>
        
    </ul>
    </div>
    <small>&copy;  2024 とらぷら.</small>
  </footer>
 <!--/フッター-->

</body>
</html>
