<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<title>とらぷら</title>
<link rel="stylesheet" href="css/style.css">
</head>
<body>

  <!--ヘッダー-->
  <header>
    <h1><img src="" alt="せなの自己紹介" width="500px"></h1>
    <div id="header_contact"><a href="contact.html"><img src="images/Image.20.jpeg" alt="Q&A" width="180px"></a></div>
    <nav id="global_navi">
      <ul>
        <li class="current"><a href="index.html">HOME</a></li>
        <li><a href="course.html">ギャラリー</a></li>
        <li><a href="gallery.html">お問い合わせ</a></li>
        <li><a href="access.html">プラン作成</a></li>
        
      </ul>
    </nav>
  </header>
  <!--/ヘッダー-->

  <!--メインビジュアル画像-->
  <div id="main_visual">
    <p><img src="images/Image.jpeg" alt="大理石ロゴ"  width="990px"></p>
  </div>
  <!--/メインビジュアル画像-->
  <!--wrapper-->
  <div id="wrapper">
    <!--メイン-->
    <div id="main">
      <section id="point">
        <h2>おすすめプラン</h2>
        <section>
          <h3>出身校　埼玉県立羽生第一高等学校(普通科) </h3>
          

          <figure>
            <img src="" alt="">
            <figcaption></figcaption>
          </figure>
          <p>埼玉の上のほうから来ています。音楽を聴いたり絵をかいたりYouTubeを見るのが好きです。
            <br>YouTubeは有名どころからマニアックなものまでかなり色んなものを見てます。
            <br>(有名ユーチューバー、実況系、美容系、料理系、頭おかしいやつ、歌＆踊ってみた系、雑談系、ASMR、ボカロ、)
          </p>
        </section>
        <section>
        </section>
      </section>
      <section id="news">
        <h2>お知らせ</h2>
        <dl>
          <dt>20♡♡/♡/♡♡</dt>
          <dd><a href="course.html">趣味を更新しました</a></dd>
          <dt>20♡/♡/♡♡</dt>
          <dd><a href="gallery.html">休日を更新しました</a></dd>
          <dt>20♡♡/♡/♡♡</dt>
          <dd><a href="course.html">講座案内を更新しました</a></dd>
        </dl>
      </section>
    </div>
    <!--/メイン-->

  </div>
  <!--/wrapper-->

  <!--フッター-->
  <footer>
    <div id="footer_nav">
      <ul>
        <li><a href="index.html">HOME</a></li>
        <li><a href="course.html">趣味</a></li>
        <li><a href="gallery.html">芸人</a></li>
        <li><a href="access.html">休日</a></li>
        <li><a href="contact.html">Q&A</a></li>
      </ul>
    </div>
    <small>&copy;  2023 Sena's profile.</small>
  </footer>
  <!--/フッター-->

</body>
</html>
