<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- CSSの読み込み -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <!-- JSの読み込み -->
     
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

    <link rel="stylesheet" href="/style.css">
    <script src="/js.js"></script>
</head>
<body>
    <div id="swiper-11" class="swiper swiper-11">
        <div class="swiper-wrapper">
            <div class="swiper-slide slide-red">Slide 1</div>
            <div class="swiper-slide slide-green">Slide 2</div>
            <div class="swiper-slide slide-aqua">Slide 3</div>
            <div class="swiper-slide slide-yellow">Slide 4</div>
            <div class="swiper-slide slide-red">Slide 5</div>
            <div class="swiper-slide slide-green">Slide 6</div>
            <div class="swiper-slide slide-aqua">Slide 7</div>
            <div class="swiper-slide slide-yellow">Slide 8</div>
        </div>
        <!-- アイコンは Font Awesome を使用しています。 -->
        <div class="swiper-button-prev"><i class="fa-solid fa-chevron-left"></i></div>
        <div class="swiper-button-next"><i class="fa-solid fa-chevron-right"></i></div>
        <div class="swiper-pagination"></div>
    </div>

<script>
    $(function(){
        const Swiper_11 = new Swiper('#swiper-11', {
            /* 追加コード */

	    // 3つ同時に表示
            slidesPerView: 3,

	    // 自動スワイプ
            autoplay: {
		        delay: 3000,
		        stopOnLastSlide: false,
		        disableOnInteraction: true,
		        pauseOnMouseEnter: true,
		        reverseDirection: false
            },

            // ループ表示
            loop: true,

	    // 現在のスライドを中央に表示
            centeredSlides: true,
            /* 追加コード */

            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev'
            },

            pagination: {
                el: '.swiper-pagination',
                type: 'bullets',
                clickable: true
            }
        });
    });
</script>

</body>
</html>
