@charset "utf-8";
/* 基本要素 */
body {
  margin: 0;
  padding: 0;
  color: #595d5e;
}
a { color: #535859; }
a:visited { color: #a8a8a8; }
a:hover {
  color: #6c6c6b;
  font-weight: bold;
  text-decoration: none;
}
a:hover img { opacity: 0.7; }
h1, h2, h3, h4, h5, h6 { margin-top: 0; }
p {
  margin-top: 0;
  line-height: 1.6;
}

.fixed {
  position: fixed;
  top: 0;
  left: 0;
}

header {
  width: 980px;
  margin: 0 auto;
  padding: 0;
}
header h1 {
  float:left;
  margin: 3px 0 10px;
}


#header ul {
  height: 50%;
  margin: 0;
  padding: 0;
}



#global_navi {
  width: 900px;
  clear: both;
  overflow: hidden;
  margin: 0px auto;
}
#global_navi ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#global_navi ul li {
  width: 195px;
  float: left;
  margin-right: 1px;
  text-align: center;
}

#global_navi ul li a {
  display: block;
  padding: 20px;
  background-color: #5ed3f0;
  color: #fff;
  text-decoration: none;
  transition: background-color 1.0s linear;
}

#global_navi ul li.current a { 
  background-color: #a6d7e9;
}
#global_navi ul li a:hover { 
  background-color: #aeeefa;
}
#wrapper {
  width: 980px;
  margin: 0 auto;
  overflow: hidden;
  text-align: center;
}


footer {
  background-color: #b6e1f3;
  text-align: center;
}

footer #footer_nav {
  background-color: #efefef;
  padding: 10px 0;
}
footer #footer_nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
footer #footer_nav li {
  display: inline;
  border-left: solid 1px #aaa;
  margin-left: 8px;
  padding-left: 8px;
  font-size: smaller;
}
footer #footer_nav li:last-child {
  border-right: solid 1px #aaa;
  padding: 0 8px;
}
footer small {
  display: block;
  padding: 8px 0;
  color: #fff;
}
#breadcrumb { font-size: smaller; }
#breadcrumb ol {
  list-style: none;
  margin: 5 0 15px 0;
  padding: 0;
}

#breadcrumb ol li { display: inline;
  padding-left: 30px;
}

#breadcrumb ol li::after {
  content: ">";
  padding-left: 13px;
}
#breadcrumb ol li:last-child::after { content: none; }

a img {
  /* 透明度 */
  transition: opacity 0.2s linear;
}
a:hover img {
  opacity: 0.7;
}

#main_visual {
  width: 980px;
  height: 440px;
  margin: 0 auto 48px;
}

#gallery p {
  font-size: 30px;
}

#cours p {
  font-size: 35px;
}

#access p {
  font-size: 20px;
}
#access h3 {
  display: block;
}
