@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans JP', sans-serif;
}

.header {

  /* width: 100%;
  height: 70%;
  background-image: url("sky.jpeg");
  background-position: center;
  background-size: cover; */
   clear: both;
   margin: 0px auto;

   width: 100%;
   height: 70%;
   /* 直下に保管しないとダメ */
   background-image: url("sky.jpeg");
   background-position: center;
   background-size: cover;
   }

   
nav {
    width: 100%;
    padding: 20px 0;
    text-align: center;
    /* position: fixed;
    top: 0;
    left: 0; */
}

.logo {
    width: 150px;
    margin: 0 auto 20px auto;
    cursor: pointer;
    text-align: center;
}

nav ul {
    background: white;
    width: 100%;
    margin-top: 10px;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 20px 0px;
}

nav ul li a {
    text-decoration: none;
    color: rgb(105, 202, 247);
}

.text {
    padding: 20px 10%;
}

nav.sticky {
    /* position: fixed; */
    top: 0;
    left: 0;
    background: #7ec9f2;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 3%;
    max-height: 15%;
    transition: all 0.6s;
}

nav.sticky .logo {
    margin: 20px 0;
}

nav.sticky ul {
    background: transparent;
    font-size: 1.3rem;
}

#wrapper {
   width: 400px;
   margin: 0 auto;
   overflow: hidden;
}
#wrapper  h2 {
   text-align: center;
}

.menu {
  display: flex;
  justify-content: center;
  gap: 40px;
}


.menu-item {
   position: relative;
   max-height: 24px;
 }
 
 .menu-item:hover {
   max-height: none;
 }
 
 /* メニューアイテムのホバースタイル */
 .menu-item:hover .drop-menu-list {
   opacity: 1; /* 不透明度を最大に */
   transition: opacity .3s, visibility .3s; /* アニメーション設定 */
   visibility: visible; /* 下層メニューを表示 */
   max-height: none;
   position: absolute;
 }
 
 .drop-menu-list {
   display: flex;
   flex-direction: column;
   top: 100%;
   opacity: 0; /* 不透明度を最小に */
   transition: opacity .3s, visibility .3s; /* アニメーション設定 */
   visibility: hidden; /* 下層メニューを非表示 */
 }
 /* ドロップダウン用 */




/* パンくずリスト */
.breadcrumb {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.breadcrumb li:not(:last-of-type)::after {
  content: ">";
  margin: 0 .6em; /* 記号の左右の余白 */
  color: #318cfb; /* 記号の色 */
}



/* お問い合わせフォーム */
form {

  width: 60%;
  margin: 5% auto;
  min-width: 9rem;
  margin-top: 3%;
  margin-bottom: 40%;
}

input, textarea {
  float: left;
  width: 100%;
  max-width: 100%;
  border: none;
  margin: 0.5rem 0;
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  background: #75c2f2;
  color: #fff;
}

::placeholder {
  color: #fff;
}
/* お問い合わせフォーム */






footer {
  background-color: #b6e1f3;
  text-align: center;
  bottom: 0;
}
 
footer #footer_nav {
  background-color: #efefef;
  padding: 10px 0;
}
footer #footer_nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
footer #footer_nav li {
  display: inline;
  border-left: solid 1px #aaa;
  margin-left: 8px;
  padding-left: 8px;
  font-size: smaller;
}
footer #footer_nav li:last-child {
  border-right: solid 1px #aaa;
  padding: 0 8px;
}
footer small {
  display: block;
  padding: 8px 0;
  color: #fff;
}
 


/* ログイン画面 */

.login-top {
  max-width: 400px;
  margin: 0 auto;
  margin-top: 50px;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-top h1 {
  text-align: center;
} 

.form {
  margin-top: 15px;
  margin-bottom: 15px;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* 子要素を中央に揃える */
  margin-top: 50px;
}
.form-row {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}
.form-group {
  margin: 0 10px;
}
.form-group select {
  width: 200px; /* プルダウンメニューと入力フィールドの幅を統一 */
}

.plan-result {
  width: fit-content;
  margin: 0 auto;
}
.plan-detail {
  width: fit-content;
  margin: 0 auto;
  margin-top: 20px;
}

input {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

@charset "utf-8";

/* スワイパーで使うクラス */
.swiper-wrapper {
    width: 100%;
    height: 300px;
  }
  
  .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
  }
  
  .slide-red {
    background-color: #fb4949;
  }
  
  .slide-green {
    background-color: #34dc1a;
  }
  
  .slide-aqua {
    background-color: #4FC3F7;
  }
  
  .slide-yellow {
    background-color: #FFC107;
  }
  
  .swiper .swiper-button-next,
  .swiper .swiper-button-prev {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #fff;
  }
  
  .swiper .swiper-button-next::after,
  .swiper .swiper-button-prev::after {
    display: none;
  }
  
  .swiper .swiper-button-next i,
  .swiper .swiper-button-prev i {
    font-size: 20px;
    color: #5CC0EF;
  }
  
  .swiper .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet, .swiper .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 8px;
    width: 10px;
    height: 10px;
    background-color: rgba(0, 0, 0, .8);
  }
  
  .swiper .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet, .swiper .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet-active {
    background-color: #fff;
  }

/* モーダル */
/*リセットCSS */
*,
*::before,
*::after {
  box-sizing: border-box;
}

h1 {
  text-align: center;
}

p {
  margin: 0;
}

.layout {
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: calc(1000px + 30px * 2);
	margin: 0 auto;
	padding: 30px;
}

.modal__cards {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
  /* grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); 横に3つまで並ぶ */
	justify-content: center;
	gap: 30px;
}

.card {
	cursor: pointer;
	border: 1px solid #000;
	border-radius: 10px;
}

.card__picture {
	height: 180px;

	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center;
		border-radius: 10px 10px 0 0;
	}
}

.card__main {
	padding: 20px 18px;
	border-radius: 0 0 10px 10px;
	background-color: #fff;
}

.card__title {
	font-size: 18px;
	color: #000;
}

.card__text {
	margin-top: 10px;
	font-size: 16px;
}

.card__date {
  font-size: 9px;
  color: #696969;
}

/* 一覧画面のカードでは非表示 */
.modal__cards .card__text {
  display: none;
}

/* モーダル内では表示 */
#modal-visible .card__text {
  display: block;
}


.modal__background {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 50px 30px;
	opacity: 0;
	background: rgba(0, 0, 0, 50%);
	visibility: hidden;
	transition: 0.3s;
}

.visible {
	opacity: 1;
	visibility: visible;
}

#modal-visible > .card {
	cursor: default;
	position: relative;
	max-width: 500px;
	border: 1px solid #000;
	border-radius: 10px;
}

.modal__close {
	position: absolute;
	top: -20px;
	right: -20px;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: #fff;
	cursor: pointer;
}

.modal__icon {
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;

	&::before {
		content: "";
		position: absolute;
		top: 48%;
		left: calc((100% - 28px) / 2);
		transform: rotate(45deg);
		width: 28px;
		height: 3px;
		background-color: #000;
	}

	&::after {
		content: "";
		position: absolute;
		top: 48%;
		left: calc((100% - 28px) / 2);
		transform: rotate(-45deg);
		width: 28px;
		height: 3px;
		background-color: #000;
	}
}
/* モーダル */
